:root {
  --text-shadow-color: #fff;
  --header-font-family: 'Ultra', serif;
  --details-font-family: 'Hammersmith One', sans-serif;
}

body {
  background-color: rgba(0,0,0,0);
  overflow-x: hidden;
  overflow-y: hidden;
}
.player-container {
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
}
.logo-container {
  padding: 0 10px;
}
.logo-container img {
  width: 80px;
}
.details-container {
  overflow: hidden;
  flex-grow: 2;
  font-family: var(--details-font-family);
  text-shadow: 2px 2px 0 var(--text-shadow-color), 2px -2px 0 var(--text-shadow-color), -2px 2px 0 var(--text-shadow-color), -2px -2px 0 var(--text-shadow-color), 2px 0px 0 var(--text-shadow-color), 0px 2px 0 var(--text-shadow-color), -2px 0px 0 var(--text-shadow-color), 0px -2px 0 var(--text-shadow-color);
}
.details-container h1 {
  margin: 0;
  font-family: var(--header-font-family)!important;
}
.details-container p {
  margin: 0;
  font-size: 32px;
}
.marquee {
  transform: translateX(0%);
  animation-delay: 3s;
  animation: marquee 20s -8s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(0%);
  }
  70% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
